@import "tailwindcss";
@plugin "daisyui";
@custom-variant dark (&:where(.dark, .dark *));

/* don't touch this css code without "Walidur tanjim's" permission (starting code) */
*{
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* font-weight: 400;
  font-style: normal; */
}
li{
  list-style: none;
}
a, a:hover{
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p, ul{
  margin: 0;
}
/* don't touch this css code without "Walidur tanjim's" permission (ending code) */

.dark{
  background-color: black;
}

.light{
  background-color: white;
}

.card-bg {
  position: relative;
  overflow: hidden; /* Ensures pseudo-element stays within bounds */
}

.card-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('./assets/images/plant.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(3px);
  z-index: -1; /* Keeps the background behind the content */
  opacity: 0.9;
}

.card-bg:hover {
  transform: scale(1.05); /* Slightly enlarge the card on hover */
  transition: transform 0.3s ease;
  box-shadow: 0 0 10px #00ff51, 0 0 20px #00ff51;
}
.text-outline {
  -webkit-text-stroke: 1px green; /* Outline thickness and color */
  -webkit-text-fill-color: white; /* Fills text color */
}
.text-shadow {
  text-shadow: 4px 4px 6px black; /* Adjust values for better effect */
}